@model PotatoZaak.Models.OrderProductViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Order Date
            </th>
            <th>
                Order Number
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>
                    @order.DateTime
                </td>
                <td>
                    @order.Id
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@order.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@order.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@order.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
